.navbar {
    margin-bottom: 50px; 
}

.navbar-brand {
    font-weight: 900;
    
}

.nav-item {
    font-weight: 700;
    
}

.navbar-nav .nav-item a.nav-link:hover {
    color: #f0f14e;
}

body {
    font-family: "Raleway", sans-serif;
    min-height: auto;
    background-color: #ff5f85;
}

/*----------------------------------------------------------------------------------index.html--------------
credit to CodingNepal, styling based from "Build A Hangman Game in HTML CSS and JavaScript"
*/
.inner-box {
    max-width: 850px; 
    background-color: #fff ;
    display: flex;
    gap: 70px;
    align-items: flex-end;
    padding: 80px 40px; 
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
}

.hangman-box img {
    max-width: 270px ;
}

.hangman-box {
    margin-bottom: 20px; 
}

.game-word {
    display: flex;
    margin-left: 0;
    gap: 15px
}

.wrong-answers small b{
    color: #ff5f85;
}

.right-answers small b{
    color: #ff5f85;
}


.game-word .letter {
    width: 50px;
    height: 50px;
    list-style: none;
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 70px;
    align-items: center;
}


#correct {
    border-color: transparent;
    color: #6ded8a;
}


.hint {
    max-width: 600px; 
    max-height: 200px;
    background-color: #f0f14e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 40px; 
    border-radius: 10px;
    margin: 0 auto;  
    margin-bottom: 60px;
}

/*----------------------------------------------------------------------------------instructions.html--------------*/
.text-center p  {
    color: #fff;
    font-weight: 700;
}

.text-center h1  {
    color: #fff;
    font-weight: 900;
}

#objectives {
    max-width: 600px; 
    max-height: 200px;
    margin: 0 auto;
    background-color: #ed3833 
}

#rules {
    max-width: 600px; 
    height: auto;
    margin: 0 auto;
    background-color: #1645f5
}

#feedback {
    max-width: 600px; 
    max-height: 100px;
    margin: 50px auto;
 
}

button[type="submit"]:hover {
    background-color: #f0f14e;
}

#ratingInput{
    width: 200px;
    height: 100px;
    border: 1px solid #fff;
    margin: 10px;
    text-align: center;
}

.checked{
    color: #f0f14e;
}

/*------------------------------------------------------------------pop-ups and buttons--------------
credit to CodingNepal, styling based from "Build A Hangman Game in HTML CSS and JavaScript"
*/
.game-end{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center ;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.game-end .content{
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;
}

.game-end h4{
    font-size: 1.5rem;
}

.game-end p{
    font-size: 1rem;
    margin: 15px 0 30px;
    font-weight: 400;
}

.game-end p b {
    color: #ff5f85;
    font-weight: 500;
}

.game-end button {
    padding: 10px 23px;
}

.game-end button:hover{
    background-color: #ed3833;
}

.game-yay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center ;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.game-yay .content{
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;
}

.game-yay h4{
    font-size: 1.5rem;
    color: #1645f5;
}

.game-yay button {
    padding: 10px 23px;
}

.game-yay button:hover{
    background-color: #6ded8a;
}

.reset {
    padding: 10px 23px;
    background-color: #6ded8a;
    float: right;
}

.reset:hover{
    background-color: #ed3833;
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .game-word .letter {
        width: 30px;
        height: 30px;
        font-size: 2rem;  
    }
    
  }
@media screen and (max-width: 576px) {
    .inner-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .game-word .letter {
        width: 25px;
        height: 25px;
        font-size: 1rem;  
    }
    .hint {
        margin-top: 20px; 
        text-align: center;
    }

.game-box {
    margin-right: 35px;
    
}

#objectives{
    max-height: none;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
}

#rules {
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
}
}